# ignore
**/.ipynb_checkpoints
**/__pycache__
.vscode
**/*.cfg
.terraform
**.zip
**.tfstate
**.tfstate.backup
**.tfstate.lock.info
log/**
**.pem
**/terraform/secrets/**

# keep
!**/dwh_template.cfg
!**/.gitkeep